*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #f3f5f6;
}
.tupian {
    width: 100%;
    height: 664px;
    margin: 0 auto;
    position: relative;
    /*z-index: -1;*/
}
.tupian .in {
    width: 100%;
    height: 664px;
}
.tupian .in a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s;
    opacity: 0;
    cursor:default;
}
@keyframes show {
    0%{
       opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
       opacity: 1;
    }
}
.tupian .in .sx{
    position: absolute;
    top:40%;
    left:38%;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    opacity: 0;

}
.tupian .in .show{
    animation: show 2.1s ease 1.5s 1;
    animation-fill-mode: forwards;
}
.tupian .in img {
    display: block;
    width: 100%;
    height: 664px;
}
.tupian .jiantou {
    width: 30px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-color: rgba(0, 0, 0, .2);
    font-size: 17px;
    color: #fff;
    position: absolute;
    font-weight: bold;
    top: 50%;
    margin-top: -18px;
    display: none;
    z-index: 999999;
    cursor: pointer;
}

.tupian:hover .jiantou {
    display: block;

}
.jiantou:hover{
    background-color: rgba(0,0,0,.8);
    color: #209FB7;
}
.tupian .left {
    left: 10px;
}

.tupian .right {
    right: 10px;
}
.nav{
    width: 100%;
    height: 105px;
    display: inline-block;
    margin: 0;
    background-color: #212121
}
.nav .logo{
    width:175px;
    height: 57px;
    margin-left: 70px;
    padding-top: 24px;
    position: relative;
}
.nav .navList{
	width: 70%;
    float: left;
    position: absolute;
    top:37px;
    left:340px;
}
.nav .navList li{
    float: left;
    list-style-type: none;
    width: 112px;
    height: 40px;
    margin-right: 15px;
    text-align: center;
    line-height: 40px;
}
.nav .navList li a{
    text-decoration: none;
    color:#fff;
    font-size: 17px;
}
.nav .navList li:first-child a{
    display: inline-block;
    width: 112px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    color: #009fe9;
}
.nav .navList li:hover a{
    display: inline-block;
    width: 112px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    color: #009fe9;
}
.login{
    float: right;
    position: absolute;
    top:37px;
    right: 20px;
}
.login li{
    float: left;
    list-style-type: none;
    width: 108px;
    height: 40px;
    margin-right: 15px;
    text-align: center;
    line-height: 40px;
}
.login li a{
    text-decoration: none;
    color:#fff;
    font-size: 16px;
}
.login li:nth-child(1) a{
    display: inline-block;
    width: 108px;
    height: 40px;
    border-radius: 21px;
    border: 1px solid #009fe9;
    color: #009fe9;
}
.login li:nth-child(2) a{
    display: inline-block;
    width: 108px;
    height: 40px;
    border-radius: 21px;
    background-color: #009fe9;
    color: #fff;
}
.cont_2{
    width:100%;
    height: 565px;
    background-color: #36639c;
    /*background-image: url("../images/500537280.jpg");*/
    /*background-repeat: no-repeat;*/
    background-size: cover;
    /*filter: blur(4px);*/
    /*border:1px solid #209FB7;*/
}
.word{
    width: 300px;
    height: 65px;
    margin: 0 auto;
    padding-top: 110px;
    color:#fff;
    font-size: 23px;
    text-align: center;
    line-height: 25px;
}
.word p:nth-child(1){
    margin-bottom: 15px;
}
.partent{
    margin-top: 40px;
    margin-left: 76px;
}
.zhuti{
    width:240px;
    height: 250px;
    border-radius: 9px;
    background-color: #fff;
    margin-left: 46px;

    float: left;
}
.zhuti a{
    display: block;
    width: 100%;
    height: 171px;
}
.zhuti img{
    width: 100%;
    height: 171px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.zhuti span{
    display:block;
    width: 239px;
    height: 79px;
    text-align: center;
    line-height:79px;
}
.cont_3{
    width: 100%;
    height: 510px;
    background-color: #222325;
    position: relative;
}
.cont_3 .eTitle{
    color:#1e50ae;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top:60px;
    left: 160px;
}
.cont_3 .contact{
    width: 458px;
    height: 150px;
    position: absolute;
    top:172px;
    left: 160px;
}
.contact h2{
    color:#b5b4b4;
    font-weight: normal;
    margin-bottom: 10px;
}
.contact p{
    font-size:15px;
    color:#b5b4b4;
    line-height: 40px;
}
.fanKui{
    width: 570px;
    height: 390px;
    position: absolute;
    top:60px;
    right: 75px;
}
.fanKui span{
    font-size: 15px;
    color:#666666;
}
.fanKui .input_1{
    width: 472px;
    height: 34px;
    border:1px solid #777778;
    background-color: #222325;
    border-radius: 2px;
    margin-left: 10px;
    margin-bottom: 25px;
}
.fanKui .input_2{
    width: 472px;
    height: 100px;
    border:1px solid #777778;
    background-color: #222325;
    border-radius: 2px;
    margin-left: 40px;
    margin-bottom: 25px;
}
#lgh{
    position: absolute;
    top:160px;
    right: 538px;
}
.fanKui .input_3{
    width: 240px;
    height: 46px;
    background-color: #5ab4ff;
    text-align: center;
    line-height: 46px;
    color: #fff;
    border: none;
    font-size: 16px;
    margin-left: 38px;
}
.banquan{
    width: 200px;
    height: 22px;
    position: absolute;
    bottom:45px;
    text-align: center;
    left: 10px;
    right: 10px;
    margin: 0 auto;
    color:#b5b4b4;
}
.cont_4{
    width: 100%;
    height: 450px;
    background-color:grey;
    position: relative;
}
.cont_4 h3{
    color:#fff;
    font-size: 24px;
    font-weight: normal;
    line-height: 23px;
    text-align: center;
    padding-top: 50px;
}
.cont_4 .tedian{
    width: 275px;
    height: 128px;
    /*border:1px solid red;*/
    position: relative;
}
.t1,.t2,.t3{
    position: absolute;
    top:82px;
    float: left;
}
.t1{
    left:112px;
}
.t2{
    left:689px;
}
.t3{
    right: 8px;
}
.tedian img{
    width: 72px;
    height: 70px;
    position: absolute;
    top:2px;
    left:2px;
}
.tedian .titl{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top:3px;
    left:90px;
}
.tedian .con{
    width: 176px;
    height: 86px;
    line-height: 20px;
    font-size: 15px;
    color:#bfc0c0;
    position: absolute;
    top:38px;
    left:90px;
}
#btn{
    display: inline-block;
    width:40px;
    height: 40px;
    background-color: #009fe9;
    text-align: center;
    line-height: 40px;
    position: fixed;
    bottom: 31px;
    right: 36px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    z-index: 100;
    border-radius: 4px;
}
#btn:hover{
    background-color: #fff;
    color: #009fe9;
}
#ag{
    display: none;
}

/**
 * 已登录
 */
.logined{
 	position: absolute;
    float: right;
    height: 100%;
    top: 10px;
    right: 100px;
    line-height: 70px;
    color: #fff;
    margin-right: 100px;
}
.logined .nick-warp {
    display: inline-block;
    margin-right: 10px;
}

.logined .nick-warp .nick li{
	list-style: none;
}
.nick-warp .icon {
    width: 50px;
    height: 50px;
 	overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    background: #ccc;
    vertical-align: middle;
}
.nick-warp .icon .app-logo {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.app-logo img{
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
 
    }
    
    .triangle-down {
    width: 12px;
    height: 12px;
    background:url(images/arrow_down.png) center no-repeat;
    border: 0px solid red;
}