*{
    margin: 0;
    padding: 0;
}
.personal{
    width: 100%;
    height: 204px;
    background: url("../images/shuBg.png");
    position: relative;
}
.personal img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top:43px;
    left:40px;
}
.personal .name{
    font-size: 17px;
    color:#088469;
    position: absolute;
    top:80px;
    left: 153px;
}
.personal .time{
    font-size: 17px;
    color: #088469;
    position: absolute;
    top:82px;
    left: 214px;
    text-indent: 32px;
    background: url("../images/time.png") no-repeat 0;
}
.ceLan{
    float:left;
    width: 170px;
    height: 350px;
    background-color: #f6f6f6;
    /*border: 1px solid graay;*/
}
.content{
    float:right;
    width: 1086px;
    height: auto;
    border: 2px solid #e3e3e3;
    padding: 10px;
    margin: 20px;
    /*border: 1px solid #ed4b4a;*/
}
.clearFloat{
    clear: both;
}
.ceLan button{
    width: 129px;
    height: 34px;
    background-color: #19dd73;
    color: #fff;
    text-align: center;
    line-height: 34px;
    border-radius: 3px;
    outline: none;
    border:none;
    font-size: 17px;
    margin-top: 17px;
    margin-left: 20px;
    cursor: pointer;
}
.ceLan li{
    width: 129px;
    height: 34px;
    color:#666666;
    text-align: center;
    line-height: 34px;
    font-size: 17px;
    margin-left: 20px;
    list-style-type: none;
    cursor: pointer;
}
.ceLan li:hover{
    background-color:#666666;
    color: #fff;
    border-radius: 3px;
}
/*������Ϣ*/
.message{
    width: 990px;
    height: 469px;
    /*border: 2px solid #e3e3e3;*/
    margin-top: 14px;
    margin-left: 17px;
}
.message h4,.photo h4,.phone h4,.email h4,.social h4,.history h4{
    color: #666666;
    margin-left: 46px;
    margin-top: 22px;
    width: 900px;
    height: 45px;
    border-bottom: 1px dashed #e7e7e7;
}
.hang{
    margin-top: 15px;
    margin-left: 99px;
}
.tName{
    font-size: 14px;
    color: #000000;
}
.niCheng{
    width: 164px;
    height: 33px;
    outline: none;
    border:1px solid #dedede;
    border-radius: 3px;
    text-indent: 9px;
    margin-left:23px;
    cursor: pointer;
}
.check{
    margin-left: 23px;
    margin-top: 5px;
}
#year{
    width: 140px;
    height: 33px;
    outline: none;
    border: 1px solid #dedede;
    border-radius: 3px;
    margin-left: 23px;
    color: #b2b9cd;
}
#month{
    width: 100px;
    height: 33px;
    outline: none;
    border: 1px solid #dedede;
    border-radius: 3px;
    color: #b2b8cd;
}
#hangYe,#zhiYe{
    width: 120px;
    height: 33px;
    outline: none;
    border:1px solid #dedede;
    border-radius: 3px;
    color: #b2b9cd;
    margin-left: 23px;
}
.baoCun{
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    background-color: #15dd68;
    color: #fff;
    text-align: center;
    line-height: 35px;
    border-radius: 3px;
    margin-left: 153px;
    margin-top: 18px;
}
/*ͷ��*/
.photo{
    width: 990px;
    height: 300px;
    /*border: 2px solid #e3e3e3;*/
    margin-top: 14px;
    margin-left: 17px;
}
.upLoad{
    margin-top: 20px;
    margin-left: 47px;
}
.photo span{
    font-size: 12px;
    color:#666666;
    margin-left: 30px;
}
/*�ֻ��*/
.phone{
    width: 990px;
    height: 334px;
    /*border: 2px solid #e3e3e3;*/
    margin-top: 14px;
    margin-left: 17px;
}
.action{
    position: relative;
}
.tel{
    width: 215px;
    height: 33px;
    outline: none;
    /*border:1px solid #dedede;*/
    border-radius: 3px;
    text-indent: 9px;
    margin-top: 20px;
    margin-left:116px;
}
.checked{
    width: 128px;
    height: 33px;
    outline: none;
    border:1px solid #dedede;
    border-radius: 3px;
    text-indent: 9px;
    margin-top: 20px;
    margin-left:116px;
}
.img_1{
    display: inline-block;
    width: 72px;
    height: 32px;

    top:75px;
    left: 259px;
}
.telCheck{
    width: 120px;
    height: 33px;
    outline: none;
    border:1px solid #dedede;
    border-radius: 3px;
    text-indent: 9px;
    margin-left: 116px;
    margin-top: 21px;
}
.phone button,.email button,.qq button{
    width: 90px;
    height: 33px;
    border:1px solid #10c55b;
    outline: none;
    border-radius: 3px;
    background-color: #effff5;
    text-align: center;
    line-height: 33px;
    color: #10c55b;
    cursor: pointer;
}
/*����*/
.email{
    width: 990px;
    height: 334px;
    /*border: 2px solid #e3e3e3;*/
    margin-top: 14px;
    margin-left: 17px;
}
/*�罻�˺�*/
.social{
    width: 990px;
    height: 469px;
    /*border: 2px solid #e3e3e3;*/
    margin-top: 14px;
    margin-left: 17px;
}
.qq{
    width: 850px;
    height: 107px;
    /*border-bottom: 1px dashed #e7e7e7;*/
    margin: 0 auto;
}
.qq .iconfont{
    display: inline-block;
    font-size: 47px;
    color:#0088cc;
    margin-left: 20px;
    margin-top: 25px;
}
.shuxing{
    display: inline-block;
    font-size: 12px;
    color: #666666;
}
.history{
	width: 990px;
    height: auto;
    /*border: 2px solid #e3e3e3;*/
    margin-top: 14px;
    margin-left: 17px;
    
}
.moBan{
    width:250px;
    height:250px;
    border:1px solid #d9e2ea;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 4px 4px 3px #b8b8b8;
    cursor: pointer;
    float: left;
    position: relative;
}
.mask{
    display: none;
    width: 250px;
    height: 250px;

    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}
.mask p{
    color: #fff;
    font-size: 13px;
    margin-left: 63px;
    margin-top: 5px;
}
.mask .btn{
    display: inline-block;
    width: 122px;
    height: 25px;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    background-color: #1a8d98;
    border-radius: 3px;
    text-align: center;
    line-height: 25px;
    margin-left: 65px;
    margin-top: 14px;
}
.moBan:hover{
    transform: translateY(-3px);
}
.moBan:hover .mask{
    display: block;
}
.moBan img{
    width: 247px;
    height: 180px;
    margin: 0 auto;
    margin-top: 2px;
    background-color: rgba(0,0,0,0.7);
}
.msg{
    width: 100%;
    height: 70px;
    position: relative;
}
.title_1{
    color: #000;
    font-size: 13px;
    position: absolute;
    top:3px;
    left: 9px;
}
.jiaGe{
    font-size: 13px;
    color: #f3645a;
    position: absolute;
    top:30px;
    left: 7px;
}
.msg a{
    font-size: 14px;
    color: green;
    text-decoration: none;
    position: absolute;
    top:6px;
    right: 23px;
}
.fangKe{
    font-size: 13px;
    color: #0086b3;
    position: absolute;
    top:30px;
    right: 20px;
}