.search{
    width:100%;
    height: 300px;
    background: url("../images/c_0.jpg") no-repeat center center;
    position: relative;
}
.search input{
    width: 538px;
    height: 38px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid lightseagreen;
    border-radius: 4px;
    text-indent: 10px;
    outline: none;
}
.search .iconfont{
    font-size: 18px;
    color:lightseagreen;
    text-decoration: none;
    position: absolute;
    top: 47%;
    right: 30%;
}
.category{
    width: 64%;
    height: 130px;
    margin: 0 auto;
    margin-top: 16px;
}
.category .theme{
    width:204px;
    height: 90px;
    /*border: 1px solid green;*/
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    color:#fff;
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    line-height: 90px;
    letter-spacing: 5px;
    cursor: pointer;
    background-size: 100%;
}
.td{
    background:url("../images/c_2.jpg") no-repeat center center;
}
.jl{
    background:url("../images/c_3.jpg") no-repeat center center;
}
.gx{
    background:url("../images/c_1.jpg") no-repeat center center;
}
.cont{
    width: 1200px;
    margin: 0 auto;
    margin-left: 40px;
    overflow: auto;
}
.moBan{
    width:250px;
    height:250px;
    border:1px solid #d9e2ea;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 4px 4px 3px #b8b8b8;
    cursor: pointer;
    float: left;
    position: relative;
}
.mask{
    display: none;
    width: 250px;
    height: 250px;
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}
.mask p{
    color: #fff;
    font-size: 13px;
    margin-left: 63px;
    margin-top: 5px;
}
.mask .btn{
    display: inline-block;
    width: 122px;
    height: 25px;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    background-color: #1a8d98;
    border-radius: 3px;
    text-align: center;
    line-height: 25px;
    margin-left: 65px;
    margin-top: 14px;
}
.moBan:hover{
    transform: translateY(-3px);
}
.moBan:hover .mask{
    display: block;
}
.moBan img{
    width: 247px;
    height: 180px;
    margin: 0 auto;
    margin-top: 2px;
    background-color: rgba(0,0,0,0.7);
}
.msg{
    width: 100%;
    height: 70px;
    position: relative;
}
.title_1{
    color: #000;
    font-size: 13px;
    position: absolute;
    top:3px;
    left: 9px;
}
.jiaGe{
    font-size: 13px;
    color: #f3645a;
    position: absolute;
    top:30px;
    left: 7px;
}
.msg a{
    font-size: 14px;
    color: green;
    text-decoration: none;
    position: absolute;
    top:6px;
    right: 23px;
}
.fangKe{
    font-size: 13px;
    color: #0086b3;
    position: absolute;
    top:30px;
    right: 20px;
}
.fenYe{
    width:546px;
    height: 32px;
    margin: 0 auto;
}
.fenYe a{
    display: inline-block;
    color:#ed4b4a;
    text-decoration: none;
    font-size: 12px;
    margin-left: 4px;
    margin-right: 4px
}
.as{
    display: inline-block;
    width: 25px;
    height: 25px;

    text-align: center;
    line-height: 25px;
    /*background-color: #fff;*/
}
.as:hover{
    color: #fff;
    background-color: #ed4b4a;
}
footer{
    width: 100%;
    height: 65px;
    color: #5d6375;
    line-height: 65px;
    text-align: center;
    font-size: 12px;
    background-color: #293750;
    margin-top: 25px;
}
.bk{
    width: 91%;
    height: 2px;
    background-color:gray;
    margin: 3px auto;
    margin-bottom: 10px;
}