.container{
    width: 1005px;
    height: 750px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}
.container p{
    font-size: 15px;
    color: orangered;
    line-height: 25px;
}
.container span{
    font-size: 15px;
    color: #2b2b2b;
}
.container form{
    position: relative;
}
.inp_1{
    position: absolute;
    top: 23px;
    left: 208px;
}
#inp{
    width: 440px;
    height: 80px;
    position: absolute;
    top: 23px;
    left: 329px;
    border: 1px solid #a5c176;
    outline: none;
}
.inp_2{
    position: absolute;
    top: 116px;
    left: 208px;
}
#inp2{
    position: absolute;
    top:116px;
    left: 328px;
}
.inp_3{
    position: absolute;
    top: 146px;
    left: 208px;
}
#inp3{
    width: 440px;
    height: 25px;
    position: absolute;
    top: 146px;
    left: 329px;
    border: 1px solid #a5c176;
    outline: none;
}
.inp_4{
    position: absolute;
    top: 185px;
    left: 208px;
}
#inp4{
    width: 440px;
    height: 25px;
    position: absolute;
    top: 185px;
    left: 329px;
    border: 1px solid #a5c176;
    outline: none;
}
.inp_5{
    position: absolute;
    top: 230px;
    left: 208px;
}
#inp5{
    width: 440px;
    height: 50px;
    position: absolute;
    top: 230px;
    left: 329px;
    border: 1px solid #a5c176;
    outline: none;
}
.inp_6{
    position: absolute;
    top: 304px;
    left: 208px;
}
#inp6{
    width: 440px;
    height: 80px;
    position: absolute;
    top: 303px;
    left: 329px;
    border: 1px solid #a5c176;
    outline: none;
}
.inp_7{
    position:absolute;
    top:392px;
    left: 208px;
}
#inp7{
    position: absolute;
    top:392px;
    left: 329px;
}
.submit{
    width: 100px;
    height: 40px;
    color: #fff;
    background-color:#a5c176;
    border: none;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top:432px;
    left: 329px;
}