*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Microsoft Yahei";
}
html,body{
    height: 100%;
    overflow: hidden;
}
#music{
    position:fixed;
    top:15px;
    right:15px;
    z-index: 4;
    width: 30px;
    height: 30px;
}
@keyframes Top {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-8px);
    }
}
.top{
    position: fixed;
    bottom: 15px;
    left: 50%;
    width: 40px;
    height: 23px;
    font-weight: bolder;
    color:#fff;
    animation: Top 1s ease infinite;
}
#music img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
@-webkit-keyframes music_disc{
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes music_disc{
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes music_disc{
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes music_disc{
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#music img.play{
    -webkit-animation: music_disc 2s linear infinite;
    -o-animation: music_disc 2s linear infinite;
    animation: music_disc 2s linear infinite;
}
.page{
    height: 100%;
}
.page .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#page1{
    display: block;
    position: relative;
}
#page2,#page3,#page4{
    display: none;
    position: relative;
}
#page1 .bg{
    background: url("../images/bg1.png") no-repeat center center;
    background-size: 100% 100%;
}
#page1 .left,.right{
    width: 67px;
    height: 330px;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    color: #5eecee;
}
@keyframes rightX {
    0%{
       transform: translateX(0px);
    }
    100%{
        transform: translateX(142px);
    }
}
@keyframes leftXe {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-142px);
    }
}
#page1 .left{
    top: 110px;
    left: -40px;
    animation: rightX 1.8s ease 1s 1;
    animation-fill-mode: forwards;
}
#page1 .right{
    top:110px;
    right: -66px;
    animation: leftXe 1.8s ease 2.9s 1;
    animation-fill-mode: forwards;
}
@keyframes leftX {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-20px);
    }
}
#page1 .bolang{
    width: 350px;
    height: 52px;
    position: absolute;
    bottom: 38px;
    left: 19px;
    animation: leftX 1.8s ease 4.7s infinite;
}
#page1 .bolang img{
    width: 100%;
    height: 52px;
}
#page2 .bg{
    background: url("../images/bg2.png") no-repeat center center;
}
@keyframes enlarge {
    0%{
        width:110px;
        height:160px;
        position: absolute;
        top:221px;
        left:122px;
    }
    100%{
        width: 344px;
        height: 642px;
        position: absolute;
        top:15px;
        left: 12px;
    }
}
.border{
    border:1px solid #fff;
    animation: enlarge 1.1s ease 0.8s 1;
    animation-fill-mode: forwards;
}
@keyframes show_1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.gsjj{
    opacity: 0;
    width: 180px;
    height: 45px;
    border: 2px solid #fff;
    border-radius:20px;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 5px;
    text-align: center;
    line-height: 45px;
    position: absolute;
    top:58px;
    left:91px;
    animation: show_1 1.3s ease 2s 1;
    animation-fill-mode: forwards;
}
@keyframes rightX_2{
    0%{
       transform: translateX(0px);
    }
    100%{
        transform: translateX(325px);
    }
}
#page2 .image{
    width: 275px;
    height: 170px;
    border: 3px solid #fff;
    position: absolute;
    top:159px;
    left: -281px;
    animation: rightX_2 1s ease 3.4s 1;
    animation-fill-mode: forwards;
}
@keyframes xuanZhuan {
    0%{
       transform: scale(0) rotate(0deg);
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}
.image_1{
    width: 275px;
    height: 170px;
    border: 3px solid #fff;
    position: absolute;
    bottom:78px;
    left: 44px;
    transform: scale(0);
    animation: xuanZhuan 1.3s ease 4.8s 1;
    animation-fill-mode: forwards;
}
.image_1 img{
    width: 100%;
    height: 100%;
}
#page2 .image img{
    width: 100%;
    height: 100%;
}
@keyframes leftX_2 {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-331px);
    }
}
#page2 .message{
    width: 287px;
    height: 127px;
    position: absolute;
    top:370px;
    left: 375px;
    font-size: 16px;
    color:#2b2b2b;
    line-height: 25px;
    animation: leftX_2 1s ease 4.5s 1;
    animation-fill-mode: forwards;
}
@keyframes Scale {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.message_1{
    width: 300px;
    height: 140px;
    position: absolute;
    top:154px;
    left: 44px;
    font-size: 16px;
    color: #000000;
    line-height: 30px;
    transform: scale(0);
    animation: Scale 1.3s ease 3.4s 1;
    animation-fill-mode: forwards;
}
#page3 .bg{
    background: url("../images/bg3.png") no-repeat center center;
}
@keyframes left_3 {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(331px,103px);
    }
}
.qywh{
    width:302px;
    height: 65px;
    position: absolute;
    top:52px;
    left: -287px;
}
.qywh1{
    animation: left_3 1.1s ease 3.4s 1;
    animation-fill-mode: forwards;
}
@keyframes left_4 {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(-332px,-92px);
    }
}
#jyln{
    position: absolute;
    top:430px;
    left: 376px;
    animation: left_4 1.1s ease 4.6s 1;
    animation-fill-mode: forwards;
}
@keyframes left_5 {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(329px,-220px);
    }
}
#jzgn{
    position: absolute;
    top:685px;
    left: -285px;
    animation: left_5 1.1s ease 5.8s 1;
    animation-fill-mode: forwards;
}
.qywh h3{
    width: 110px;
    height: 30px;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    color: #fff;
    border-bottom: 5px solid #fff;
}
.qywh p{
    color: #fff;
    font-size: 16px;
    line-height: 32px;
}
#page4 .bg{
    background: url("../images/bg2.png") no-repeat center center;
}
